<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New User</title>
    <link rel="stylesheet" href="/styles/profiles.css" />
  </head>
  <body>
    <main id="new-user">
      <form
        action="/profiles"
        method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <div class="form-control">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-control">
          <label>User image</label>
          <input
            type="file"
            id="image"
            name="image"
            required
            accept="image/png,image/jpg"
          />
        </div>
        <button class="btn">Save User</button>
      </form>
    </main>
  </body>
</html>
