<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/profiles.css" />
    <title>User Profiles</title>
  </head>
  <body>
    <main id="main-page">
      <section id="user-controls">
        <a class="btn" href="/new-user">Add a New User</a>
      </section>
      <section id="user-profiles">
        <ul>
          <li>
            <article>
              <img src="" alt="image of the user" />
              <h2>User Name</h2>
            </article>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
